@font-face {
    font-family: "Food";
    src: url("../assets//fonts/Super\ Foods.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Joyful";
    src: url("../assets//fonts/Super\ Joyful.ttf") format("truetype");
    font-weight: 500;
}


:root {
    --background: #394054 ;
    --background-element: #1C1C1F;
    --element: #FCD5CC;
    --main: #5DA5B3;
    --subtitle: #B0C0D4;
    --title:#E0E2E8;

    --active: #FCD5CC;
    --inactive: #afafafe7;

    --font-primary: "Food", sans-serif;
    --font-secondary: "Joyful", sans-serif;
}

body {
    margin: 0;
    background: var(--background);
    font-family: var(--font-primary);
    color: var(--title);
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body.dark {
    --background: #394054;
    --background-element: #1C1C1F;
    --element: #FCD5CC;
    --main: #5DA5B3;
    --subtitle: #B0C0D4;
    --title: #E0E2E8;
}


body.light {
    --background: #B0C0D4;
    --background-element: #E0E2E8;
    --element: #5DA5B3;
    --main: #FCD5CC;
    --subtitle: #394054;
    --title: #1C1C1F;
}

.chatContainer {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    background-color: var(--background);
}

.chatMain {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}

.chatLeftColumn {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    justify-content: flex-start;
    padding-top: 35px;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--background-element);
}

.chatRightColumn {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    justify-content: flex-start;
    padding-top: 35px;
    background-color: var(--background-element);
    height: 100vh;
    overflow-y: auto;
}


.chatLeftColumn::-webkit-scrollbar {
    width: 5px;
}

.chatLeftColumn::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

.chatRightColumn::-webkit-scrollbar {
    width: 5px;
}

.chatRightColumn::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}


.chatHeader {
    position: fixed;
    top: -15px;
    width: 35%;
    height: 5%;
    padding: 38px 40px;
    padding-bottom: 7px;
    background: var(--element);
    border-radius: 15px;
    font-weight: bold;
    color: var(--background);
    font-size: 1.7em;
    z-index: 3;
    transition: opacity 0.3s;
}

.chatHeader:hover {
    opacity: 0.2;
    backdrop-filter: blur(6px);
}

.chatBody {
    display: flex;
    width: 90%;
    height: 78vh;
    margin-top: 3px;
    overflow: hidden;
    z-index: 1;
}

.chatFooter {
    position: fixed;
    bottom: 4px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    background-color: var(--subtitle);
    padding: 20px;
    border: none;
    border-radius: 15px;
}

.BtnCorner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
}

.Btn {
    border: none;
    border-radius: 10px;
    font-size: 1.3em;
    font-family: var(--font-secondary);
    background-color: var(--element);
    color: var(--background);
    padding: 7px 9px;
    width: 60%;
}

.ParametreContainer {
    position: absolute;
    top: 72px;
    left: 50px;
    background: var(--background);
    padding: 15px;
    border-radius: 10px;
    width: 220px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    width: 350px;
}

.paramTitle {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 38px;
    font-family: var(--font-secondary);
    color: var(--main);
}

.paramItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.paramInput {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.paramInput input {
    background-color: var(--element);
    border: solid, 2px, var(--background-element);
    font-size: 24px;
    font-family: var(--font-primary);
}

.paramItem select {
    background-color: var(--element);
    border: solid, 4px, var(--background-element);
    border-radius: 10px;
    font-size: 18px;
    font-family: var(--font-primary);
    padding: 5px;
    width: 90%;
}

.paramItem option:hover {
    background-color: var(--background-element);
    color: var(--subtitle);
    font-family: var(--font-primary);
}

.messageList {
    flex: 3;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.messageList::-webkit-scrollbar {
    width: 6px;
}

.messageList::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    background: var(--background-element);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    font-family: var(--font-primary);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.message.user, .message.message  {
    margin-left: auto;
    background: var(--main);
    color: var(--title);
}

.message.system {
    margin-left: auto;
    background: var(--main);
    color: var(--subtitle);
}

.message.discord {
    margin-right: auto;
    background-color: var(--background-element);
    color: var(--title);
}

.message.command {
    margin-right: auto;
    background-color: var(--background-element);
    color: var(--subtitle);
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.messageImage {
    margin-top: 5px;
    max-width: 250px;
    border-radius: 8px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.mascotContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}

.mascot {
    max-width: 120px;
    width: 100%;
    transition: transform 0.2s ease;
}

.mascotContainer:hover .mascot {
    transform: scale(1.1) rotate(1deg);
}

.messageInputContainer {
    width: 55vw;
    display: flex;
    margin-top: 20px;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5px;
    z-index: 5;
}

.messageInputInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 75%;
    margin-right: 15px;
}

.messageInput {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-right: 15px;
    margin-bottom: 3px;
    width: 100%;
    background-color: var(--background);
    color: var(--title);
    font-family: var(--font-primary);
    font-size: 1.05em;
    text-align: center;
}

.messageInput::placeholder {
    color: var(--subtitle);
    font-family: var(--font-primary);
    font-size: 1.05em;
    text-align: center;
}

.boutonsInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 12px;
}

.boutonsInput button {
    border-radius: 10px;
    background-color: var(--element);
    color: var(--background);
    border: solid, 4px, var(--background);
    width: 75px;
    padding: 5px;
    font-size: 20px;
    font-family: var(--font-primary);
}

.boutonsInput button:hover {
    background-color: var(--main);
    width: 80px;
    font-size: 24px;
}

.EnvoyerButton {
    border-radius: 10px;
    border: none;
    background-color: var(--main);
    color: var(--title);
    padding: 8px;
}

.envoyerIcon {
    height: 30px;
}

.contextMenu {
    background: var(--element);
    color: var(--main);
    border-radius: 10px;
    padding: 8px 7px;
    min-width: 160px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    gap: 5px;
}

.contextMenu div {
    padding: 8px 12px;
    cursor: pointer;
}

.contextMenu div:hover {
    background: var(--subtitle);
}

.contextAction {
    background-color: var(--background);
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.salonList {
    color: var(--title);
    background-color: var(--main);
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.salonCategory {
    text-align: left;
    background-color: var(--background);
    border-radius: 7px;
    padding: 9px 7px;
    margin-bottom: 7px;
    color: var(--subtitle);
}

.salonItem {
    font-size: 18px;
    color: var(--title)
}

.userItem {
    padding: 6px 10px;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.userItem.online {
    color: var(--element);
}

.userItem.offline {
    color: var(--inactive);
}

.userListTitle {
    font-size: 38px;
    font-family: var(--font-secondary);
    margin-bottom: 12px;
    margin-top: 5px;
}

.userInfoCard {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.avatarLarge {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.editBanner {
    font-size: 32px;
    color: var(--background);
    margin-bottom: 6px;
    font-family: var(--font-secondary);
}

.emojiPicker {
    position: absolute;
    bottom: 60px;
    background: var(--background);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.emojiBtn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.emojiBtn:hover {
    transform: scale(1.2);
}

.voiceContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--background);
    color: var(--title);
    width: 30vw;
}

.voiceHeader {
    padding: 15px;
    font-weight: bold;
    background-color: var(--main);
    border-bottom: 7px solid var(--subtitle);
    border-radius: 10px;
    margin-top: 95px;
    font-size: 38px;
}

.voiceBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--subtitle);
    margin: 10px 0;
}

.voiceFooter {
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}

.alignement {
    display: flex;
    gap: 45px;
    width: 100%;
    height: 100%;
}

.leaveBtn {
    width: 90%;
    padding: 10px;
    background: var(--element);
    color: var(--background-element);
    font-size: 35px;
    font-family: var(--font-secondary);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.soundboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.soundBtn {
    background: var(--background-element);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    width: 62px;
    height: 68px;
    font-size: 10px;
    text-size-adjust: inherit;
}

.soundBtn:hover {
    transform: scale(1.1);
    background: var(--main);
}

.emoji {
    font-size: 24px;
}

.label {
    font-size: 12px;
    color: var(--subtitle);
}

.voiceUsers {
    padding: 10px;
}

.voiceUser {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.voiceUser img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.hide {
    visibility: collapse;
}

.info {
    font-family: var(--font-secondary);
    font-size: 15px;
}

.file {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.TTStext {
    padding: 10px;
    border-radius: 12px;
    border: none;
    margin-top: 50px;
    width: 90%;
    background-color: var(--main);
    color: var(--title);
    font-family: var(--font-primary);
    font-size: 1.02em;
    text-align: center;
}

.TTStext::placeholder {
    color: var(--subtitle);
    font-family: var(--font-secondary);
}

.ttsPanel {
    padding: 10px;
    background: var(--background-element);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ttsPanel input {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.sliders {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 7px;
    border-radius: 5px;
    border: none;
    width: 70%;
}