@font-face {
    font-family: "Food";
    src: url("../assets//fonts/Super\ Foods.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Joyful";
    src: url("../assets//fonts/Super\ Joyful.ttf") format("truetype");
    font-weight: 500;
}


:root {
    --background: #394054 ;
    --background-element: #1C1C1F;
    --element: #FCD5CC;
    --main: #5DA5B3;
    --subtitle: #B0C0D4;
    --title:#E0E2E8;

    --active: #FCD5CC;
    --inactive: #afafafe7;

    --font-primary: "Food", sans-serif;
    --font-secondary: "Joyful", sans-serif;
}

body {
    margin: 0;
    background: var(--background);
    font-family: var(--font-primary);
    color: var(--title);
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.chatContainer {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    background-color: var(--background);
}

.chatMain {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}

.chatLeftColumn {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    justify-content: flex-start;
    padding-top: 35px;
    height: 100%;
    background-color: var(--background-element);
}

.chatRightColumn {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    justify-content: flex-start;
    padding-top: 35px;
    height: 100%;
    background-color: var(--background-element);
}


.chatHeader {
    position: fixed;
    top: -15px;
    width: 35%;
    height: 5%;
    padding: 38px 40px;
    padding-bottom: 7px;
    background: var(--element);
    border-radius: 15px;
    font-weight: bold;
    color: var(--background);
    font-size: 1.7em;
    z-index: 3;
    transition: opacity 0.3s;
}

.chatHeader:hover {
    opacity: 0.2;
    backdrop-filter: blur(6px);
}

.chatBody {
    display: flex;
    width: 80%;
    height: 78vh;
    margin-top: 3px;
    overflow: hidden;
    z-index: 1;
}

.chatFooter {
    position: fixed;
    bottom: 4px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    background-color: var(--subtitle);
    padding: 20px;
    border: none;
    border-radius: 15px;
}

.Btn {
    border: none;
    border-radius: 10px;
    font-size: 1.3em;
    font-family: var(--font-secondary);
    background-color: var(--element);
    color: var(--background);
    padding: 7px 9px;
    width: 50%;
}

.messageList {
    flex: 3;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.messageList::-webkit-scrollbar {
    width: 6px;
}

.messageList::-webkit-scrollbar-thumb {
    background: var(--main);
    border-radius: 10px;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    background: var(--background-element);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    font-family: var(--font-primary);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.message.user, .message.message  {
    margin-left: auto;
    background: var(--main);
    color: var(--title);
}

.message.system {
    margin-left: auto;
    background: var(--main);
    color: var(--subtitle);
}

.message.discord {
    margin-right: auto;
    background-color: var(--background-element);
    color: var(--title);
}

.message.command {
    margin-right: auto;
    background-color: var(--background-element);
    color: var(--subtitle);
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.messageImage {
    margin-top: 5px;
    max-width: 250px;
    border-radius: 8px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.mascotContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}

.mascot {
    max-width: 120px;
    width: 100%;
}

.messageInputContainer {
    width: 70%;
    display: flex;
    margin-top: 20px;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5px;
}

.messageInput {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    margin-bottom: 3px;
    width: 60vw;
    background-color: var(--background);
    color: var(--title);
    font-family: var(--font-primary);
    font-size: 1.05em;
    text-align: center;
}

.messageInput::placeholder {
    color: var(--subtitle);
    font-family: var(--font-primary);
    font-size: 1.05em;
    text-align: center;
}

.EnvoyerButton {
    border-radius: 10px;
    border: none;
    background-color: var(--main);
    color: var(--title);
    padding: 8px;
}

.envoyerIcon {
    height: 30px;
}

.contextMenu {
    background: var(--element);
    color: var(--main);
    border-radius: 6px;
    padding: 5px 0;
    min-width: 160px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.contextMenu div {
    padding: 8px 12px;
    cursor: pointer;
}

.contextMenu div:hover {
    background: var(--subtitle);
}

.salonList {
    color: var(--title);
    background-color: var(--main);
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.salonCategory {
    text-align: left;
    background-color: var(--background);
    border-radius: 7px;
    padding: 9px 7px;
    margin-bottom: 7px;
    color: var(--subtitle);
}

.salonItem {
    font-size: 18px;
    color: var(--title)
}

.userItem {
    padding: 6px 10px;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.userItem.online {
    color: var(--active);
}

.userItem.offline {
    color: var(--inactive);
}

.userListTitle {
    font-size: 38px;
    font-family: var(--font-secondary);
    margin-bottom: 12px;
    margin-top: 5px;
}

.userInfoCard {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.avatarLarge {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}