@font-face {
  font-family: "Food";
  src: url("../assets//fonts/Super\ Foods.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Joyful";
  src: url("../assets//fonts/Super\ Joyful.ttf") format("truetype");
  font-weight: 500;
}

:root {
  --background: #394054;
  --background-element: #1C1C1F;
  --element: #FCD5CC;
  --main: #5DA5B3;
  --subtitle: #B0C0D4;
  --title: #E0E2E8;

  --active: #FCD5CC;
  --inactive: #afafafe7;

  --font-primary: "Food", sans-serif;
  --font-secondary: "Joyful", sans-serif;
}

.home {
  height: 100vh;
  width: 100%;
  background-color: var(--background-element);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  color: var(--main)
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* Logo */
.logo {
  width: 320px;
  object-fit: contain;
  margin-bottom: 80px;
}

/* Barre */
.progressBar {
  position: relative;
  width: 1100px;
  height: 100px;
  background: var(--background);
  border-radius: 12px;
  overflow: hidden;
}


.progressFill {
  height: 100%;
  background: linear-gradient(90deg, var(--main), var(--subtitle));
  transition: width 0.1s linear;
}

/* Mouse */
.mouse {
  position: absolute;
  top: 7px;
  height: 80px;
  transform: translateX(-50%);
  pointer-events: none;
}